{% load static %}
<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(13, 101, 217, 0.6);
    padding: 0 20px;
    height: 80px;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0 30px 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-left li {
    width: 150px;
    height: 80px;
    font-size: 18px;
  }

  .nav-right li {
    border-radius: 100%;
    margin-right: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
  }

  .nav-left li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  .nav-right li a {
    display: flex;
    align-items: center;
  }

  .nav-left li:hover {
    cursor: pointer;
    background-color: #0d65d9;
  }

  .nav-right li:hover {
    cursor: pointer;
    background-color: grey;
  }

  .nav-icon {
    width: 20px;
  }
</style>
<nav>
  <div class="nav-left">
    <a href="landing_page">
      <img src={% static 'base/westminster-logo.png' %} class="logo"
      style="height:50px; width:50px;" alt="Logo" />
    </a>
    <ul>
      <li>
        <a href={% url 'equipment_list' %}>Equipment</a>
      </li>
      <li>
        <a href={% url 'login' %}>Login</a>
      </li>
      <li>
        <a href={% url 'sign_up' %}>Register</a>
      </li>
      <!--
        Logged in as User
        <li>
            <a href="bookings">Bookings</a>
        </li>
        <li>
            <a href="#">History</a>
        </li>
      -->
      <!--
        Logged in as Admin
        <li>
            <a href="add_equipment">Add Equipment</a>
        </li>
        <li>
            <a href="edit_equipment">Edit Equipment</a>
        </li>
        <li>
            <a href="edit_users">Users</a>
        </li>
        <li>
            <a href="reports">Reports</a>
        </li>
      -->
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li>
        <a href="#">
          <img src={% static 'base/home-icon.png' %} class="nav-icon" alt="Home
          icon" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src={% static 'base/user-icon.png' %} class="nav-icon" alt="User
          icon" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src={% static 'base/alert-icon.png' %} class="nav-icon"
          alt="Alert icon" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src={% static 'base/exit-icon.png' %} class="nav-icon" alt="Exit
          icon" />
        </a>
      </li>
    </ul>
  </div>
</nav>
