{% load static %}

<nav>
  <!-- need to add conditions for if logged in as User or Admin -->
  {% if user.is_authenticated %}    <!-- user is logged in -->
    <div class="nav-left">
      <!-- logo -->
      <a href="landing_page">
        <img src={% static 'base/westminster-logo.png' %} class="logo" style="height:50px; width:50px;" alt="Logo" />
      </a>
      <ul>
        <li>
          <a href={% url 'equipment_list' %}>Equipment</a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <ul>
        <li>
          <a href="#">
            <img src={% static 'base/home-icon.png' %} class="nav-icon" alt="Home
            icon" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src={% static 'base/user-icon.png' %} class="nav-icon" alt="User icon" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src={% static 'base/alert-icon.png' %} class="nav-icon" alt="Alert icon" />
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            <img src={% static 'base/exit-icon.png' %} class="nav-icon" alt="Exit icon" />
          </a>
        </li>
      </ul>
    </div>

  {% else %}    <!-- user isn't logged in -->
    <div class="nav-left">
      <!-- logo -->
      <a href="landing_page">
        <img src={% static 'base/westminster-logo.png' %} class="logo" style="height:50px; width:50px;" alt="Logo" />
      </a>
      <ul>
        <li>
          <a href="{% url 'equipment_list' %}">Equipment</a>
        </li>
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a href="{% url 'sign_up' %}">Register</a>
        </li>
      </ul>
    </div>
  {% endif %}




  <!-- <ul> -->
    <!--
      Logged in as User
      <li>
          <a href="bookings">Bookings</a>
      </li>
      <li>
          <a href="#">History</a>
      </li>
    -->
    <!--
      Logged in as Admin
      <li>
          <a href="add_equipment">Add Equipment</a>
      </li>
      <li>
          <a href="edit_equipment">Edit Equipment</a>
      </li>
      <li>
          <a href="edit_users">Users</a>
      </li>
      <li>
          <a href="reports">Reports</a>
      </li>
    -->
  <!-- </ul> -->

<!-- <div class="nav-right">
  <ul>
    <li>
      <a href="#">
        <img src={% static 'base/home-icon.png' %} class="nav-icon" alt="Home
        icon" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src={% static 'base/user-icon.png' %} class="nav-icon" alt="User
        icon" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src={% static 'base/alert-icon.png' %} class="nav-icon"
        alt="Alert icon" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src={% static 'base/exit-icon.png' %} class="nav-icon" alt="Exit
        icon" />
      </a>
    </li>
  </ul>
</div> -->

</nav>