/* 
Author:
- Anthony
*/

/* login.html sign-up.html styles */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 30px;
  }
  
  .form-label {
    font-size: 28px;
    font-weight: 200;
    color: var(--grey);
  }
  
  .sign-up-form .form-label {
    font-size: 20px;
  }
  
  .form-input {
    width: 500px;
    border-radius: 5px;
  }

  .error-message {
    color: var(--red);
  }
  
  .sign-up-link {
    color: var(--blue);
    text-decoration: none;
  }
  
  .login-info p {
    font-size: 20px;
  }
  
  .login-options {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .signup-btn-section {
    display: flex;
    gap: 30px;
  }
  

/* edit-equipment & add-equipment styles */

.edit-equipment-form p,
.add-equipment-form p,
.login-form p,
.sign-up-form p,
.form-button-section {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.edit-equipment-form p label,
.add-equipment-form p label,
.login-form p label,
.sign-up-form p label {
  font-size: 20px;
  font-weight: 200;
  color: var(--grey);
}

.edit-equipment-form p input,
.add-equipment-form p input,
.login-form p input,
.sign-up-form p input {
  width: 300px;
  padding: 5px;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--light-grey);
  color: var(--grey);
  border-radius: 5px;
  border: 2px solid var(--black);
}


.form-button:hover {
  color: var(--white);
  background-color: var(--grey);
  border: none;
}
 