<!--
  Author: Anthony
-->
{% extends 'main.html' %} {% block content %}
<style>
  .add-equipment-form .form-label {
    font-size: 20px;
  }

  .add-equipment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  textarea {
    height: 100px;
    width: 500px;
    border-radius: 5px;
  }
</style>
<main>
  <h1>Add Equipment</h1>
  <form class="add-equipment-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="signup-btn-section">
      <a class="form-button" href="{% url 'landing_page' %}">Back</a>
      <button type="submit" class="form-button">Save</button>
    </div>
  </form>
</main>


</main>
{% endblock content %}
