{% extends 'main.html' %} 
{% block content %}
<!--

Author: Himani

-->

<style>
  .edit-user-form .form-label {
    font-size: 20px;
  }

  .edit-user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  textarea {
    height: 100px;
    width: 500px;
    border-radius: 5px;
  }
</style>

<main>
  <h1>Edit Profile</h1>
  
  <!-- Edit Profile Form -->
  <form class="edit-user-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }} <!-- Display form fields as paragraphs -->
    
    <!-- Form Buttons -->
    <div class="signup-btn-section">
      <a class="form-button" href="{% url 'user_profile' %}">Back</a> <!-- Back button to user profile page -->
      <button type="submit" class="form-button">Save</button> <!-- Save button to submit form -->
    </div>
  </form>
</main>


{% endblock content %}
