{% extends 'main.html' %}

<!--
  Author: Anthony
-->

{% block content %}
<main>
    <h1>Bookings</h1>
    <div class="bar">
        <div class="filter-bar">
          <select name="filter" id="filter" class="filter" required>
            <option value="all" selected>All</option>
            <option value="laptop">Laptop</option>
            <option value="pc">PC</option>
          </select>
        </div>
        <div class="search-bar">
          <input type="text" class="search" placeholder="Search..." />
        </div>
      </div>
      <div class="equipment-list-results">
        <!-- Equipment card for Student -->
        <div class="equipment-card">
          <img class="card-img" src="" alt="" />
          <div class="right">
            <div class="top">
              <p class="card-title">Equipment Title</p>
              <div class="equipment-btn">
                <button class="details">Details</button>
                <button class="book-equipment" id="bookButton">Booked</button>
              </div>
            </div>
            <div class="equipment-info">
              <p>Location: <span id="location">Lab</span></p>
              <p>Availability: <span id="availability">Available</span></p>
              <p>Loan Date: <span id="from-date">13/04/24</span> - <span id="to-date">20/04/24</span></p>
            </div>
          </div>
        </div>
      </div>
</main>
<script>
  // Disable the button when the page loads
  document.addEventListener("DOMContentLoaded", function() {
      var button = document.getElementById("bookButton");
      button.disabled = true;
  });
</script>
{% endblock content %}