{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--
Author: 
  - Anthony
-->

<main>
    <!-- Add a form to create a new booking -->
    <h1>Equipment Details</h1>
    <h3 class="equipment-name">{{list_item.name}}</h3>
    <img class="equipment-image" src="{% static list_item.img_url %}" alt={{list_item.name}} />
    <div class="equipment-info">
        <p>{{list_item.description}}</p>
    </div>
    <div class="booking-date">
        {% if list_item.borrow_date == "" %}
            <div>
                <label>From:</label>
                <input type="date">
            </div>
            <div>
                <label>To:</label>
                <input type="date">
            </div>
        {% else %}
            <div>
                <p>From: <span>{{list_item.borrow_date}}</span></p>
            </div>
            <div>
                <p>To: <span>{{list_item.return_date}}</span></p>
            </div>
        {% endif %}
    </div>
    <div class="pick-up-info">
        <p>Status: <span id="status">{{list_item.status}}</span></p>
        <p>Pick up: <span id="site">{{list_item.location}}</span></p>
        <button class="booking-btn">Request Booking</button>
    </div>
</main>
<script>
    let equipmentStatus = document.getElementById("status");
    const bookingBtns = document.getElementsByClassName("booking-btn");
    
    if (equipmentStatus.textContent.trim() === "On Loan" || equipmentStatus.textContent.trim() === "Out of Service") {
        equipmentStatus.classList.add(equipmentStatus.textContent.trim() === "On Loan" ? "not-available" : "out-service");
        Array.from(bookingBtns).forEach(button => {
            button.style.backgroundColor = "grey";
            button.disabled = true;
        });
    } else if (equipmentStatus.textContent.trim() === "Available") {
        equipmentStatus.classList.add("available");
    }
</script>
{% endblock content %}