{% extends 'main.html' %} {% block content %} {% load static %}
<!--
        Author: Anthony
    -->
<style>
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    background-color: rgba(179, 206, 242, 0.6);
    padding: 10px;
  }

  .filter,
  .search {
    height: 45px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
  }

  .equipment-list-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 50px;
  }

  .equipment-card {
    display: flex;
    border: 2px solid black;
    background-color: #f5f5f5;
    max-width: 800px;
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-img {
    height: 100%;
    width: 150px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: black;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .admin-equipment-btn {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

  .equipment-info {
    display: flex;
    justify-content: space-between;
  }

  .equipment-info p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }

 .edit,
 .add {
    background-color: rgba(13, 101, 217, 0.6);
  }

  .admin-equipment-btn button,
  .equipment-btn button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
  }

  .details {
    background-color: rgba(179, 206, 242, 1);
  }

  .book-equipment {
    background-color: #aeeb8f;
  }

  .admin-equipment-btn button:hover,
  .equipment-btn button:hover {
    background-color: grey;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .filters {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
  }

  .filter-bar label {
    margin-right: 10px;
  }

  .hidden {
    display: none;
  }

</style>

<main>
  <h1>Equipment List</h1>
  <div class="bar">
    <button id="filter">Filter</button>
    <form class="search-bar" method="GET" action="{% url 'equipment_list' %}">
      <input type="text" name="q" class="search" placeholder="Search..." />
      <button>🔎</button>
    </form>
    <!-- Admin only has access to Add button -->
    <a href="{% url 'add_equipment' %}"><button class="add">Add</button></a>
  </div>
  <div class="filters hidden">
    <form class="filter-bar" method="GET" action="{% url 'equipment_list' %}" id="generalFilterForm">
      <label for="general-filter">General: </label>
      <select name="general-filter" id="general-filter" class="filter" required>
        <option value="all" {% if general_filter == 'all' %}selected{% endif %}>All</option>
        <option value="recently-added" {% if general_filter == 'recently-added' %}selected{% endif %}>Recently Added</option>
        <option value="oldest-added" {% if general_filter == 'oldest-added' %}selected{% endif %}>Oldest Added</option>
      </select>
    </form>
    <form class="filter-bar" method="GET" action="{% url 'equipment_list' %}" id="typeFilterForm">
      <label for="type-filter">Type: </label>
      <select name="type-filter" id="type-filter" class="filter" required>
        <option value="all" {% if type_filter == 'all' %}selected{% endif %}>All</option>
        <option value="Laptop" {% if type_filter == 'Laptop' %}selected{% endif %}>Laptop</option>
        <option value="PC" {% if type_filter == 'PC' %}selected{% endif %}>PC</option>
        <option value="Phone" {% if type_filter == 'Phone' %}selected{% endif %}>Phone</option>
      </select>
    </form>
    <form class="filter-bar" method="GET" action="{% url 'equipment_list' %}" id="locationFilterForm">
      <label for="location-filter">Location: </label>
      <select name="location-filter" id="location-filter" class="filter" required>
        <option value="all" {% if location_filter == 'all' %}selected{% endif %}>All</option>
        <option value="Other" {% if location_filter == 'Other' %}selected{% endif %}>Other</option>
        <option value="Lab" {% if location_filter == 'Lab' %}selected{% endif %}>Lab</option>
      </select>
    </form>
    <form class="filter-bar" method="GET" action="{% url 'equipment_list' %}" id="statusFilterForm">
      <label for="status-filter">Status: </label>
      <select name="status-filter" id="status-filter" class="filter" required>
        <option value="all" {% if status_filter == 'all' %}selected{% endif %}>All</option>
        <option value="On Loan" {% if status_filter == 'On Loan' %}selected{% endif %}>On Loan</option>
        <option value="Available" {% if status_filter == 'Available' %}selected{% endif %}>Available</option>
        <option value="Out of Service" {% if status_filter == 'Out of Service' %}selected{% endif %}>Out of Service</option>
      </select>
    </form>      
</div>

  <div class="equipment-list-results">
    <!-- Equipment card for Student -->
    {% for item in equipment %}
    <div class="equipment-card">
      <img class="card-img" src="{% static item.img_url %}"  alt={{item.name}} />
      <div class="right">
        <div class="top">
          <p class="card-title">{{item.name}}</p>
          <!-- Change class to admin-equipment-btn when logged in as Admin-->
          <div class="equipment-btn">
            <a href="{% url 'equipment_details' item.id %}"><button class="details">Details</button></a>
            {% if item.status != "On Loan" and item.status != "Out of Service" %}
              <button class="book-equipment" id="bookBtn">Book Now</button>
            {% else %}
              <button class="book-equipment" id="bookBtn">Out</button>
            {% endif %}
            <!-- Only Admin has access to Edit and Add, Delete-->
            <!-- Change to icons -->
            <a href="{% url 'edit_equipment' item.id %}"><button class="edit">Edit</button></a>
            <a href="{% url 'delete_equipment' item.id %}"><button class="delete">Delete</button></a>
          </div>
        </div>
        <div class="equipment-info">
          <p>Category: <span id="category">{{item.type}}</span></p>
          <p>Location: <span id="location">{{item.location}}</span></p>
          <p>Status: <span id="availability">{{item.status}}</span></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
<script>
  // JavaScript code
  const bookBtns = document.querySelectorAll(".book-equipment");

  bookBtns.forEach(button => {
    if (button.textContent.trim() === "Out") {
      button.style.backgroundColor = "grey";
      button.style.cursor = "default";
      button.disabled = true;
    }
  });
  
  const generalFilterSelect = document.getElementById('general-filter');
  const typeFilterSelect = document.getElementById('type-filter');
  const locationFilterSelect = document.getElementById('location-filter');
  const statusFilterSelect = document.getElementById('status-filter'); 
  
  generalFilterSelect.addEventListener('change', function() {
    document.getElementById('generalFilterForm').submit();
  });
  
  typeFilterSelect.addEventListener('change', function() {
    document.getElementById('typeFilterForm').submit();
  });
  locationFilterSelect.addEventListener('change', function() {
    document.getElementById('locationFilterForm').submit();
  });
  statusFilterSelect.addEventListener('change', function() {
    document.getElementById('statusFilterForm').submit();
  });

  const filterButton = document.getElementById('filter');
  const filters = document.querySelector('.filters'); // Selecting by class name

  filterButton.addEventListener('click', function() {
    // Toggle the visibility of the filters section
    if (filters) {
      filters.classList.toggle('hidden');
    }
  });
</script>

{% endblock content %}
