{% extends 'main.html' %} {% block content %} {% load static %}
<!--
        Author: Anthony
    -->
<style>
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    background-color: rgba(179, 206, 242, 0.6);
    padding: 10px;
  }

  .filter,
  .search {
    height: 45px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
  }

  .equipment-list-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 50px;
  }

  .equipment-card {
    display: flex;
    border: 2px solid black;
    background-color: #f5f5f5;
    max-width: 800px;
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-img {
    height: 100%;
    width: 150px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: black;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .admin-equipment-btn {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

  .equipment-info {
    display: flex;
    justify-content: space-between;
  }

  .equipment-info p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }

 .edit,
 .add {
    background-color: rgba(13, 101, 217, 0.6);
  }

  .admin-equipment-btn button,
  .equipment-btn button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
  }

  .details {
    background-color: rgba(179, 206, 242, 1);
  }

  .book-equipment {
    background-color: #aeeb8f;
  }

  .admin-equipment-btn button:hover,
  .equipment-btn button:hover {
    background-color: grey;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }


</style>

<main>
  <h1>Equipment List</h1>
  <div class="bar">
    <div class="filter-bar">
      <select name="filter" id="filter" class="filter" required>
        <option value="all" selected>All</option>
        <option value="laptop">Laptop</option>
        <option value="pc">PC</option>
      </select>
    </div>
    <div class="search-bar">
      <input type="text" class="search" placeholder="Search..." />
    </div>
  </div>
  <div class="equipment-list-results">
    <!-- Equipment card for Student -->
    {% for item in equipment %}
    <div class="equipment-card">
      <img class="card-img" src="{% static item.img_url %}"  alt={{item.name}} />
      <div class="right">
        <div class="top">
          <p class="card-title">{{item.name}}</p>
          <div class="equipment-btn">
            <a href="{% url 'equipment_details' item.id %}"><button class="details">Details</button></a>
            {% if item.status != "On Loan" and item.status != "Out of Service" %}
              <button class="book-equipment" id="bookBtn">Book Now</button>
            {% else %}
              <button class="book-equipment" id="bookBtn">Out</button>
            {% endif %}
          </div>
        </div>
        <div class="equipment-info">
          <p>Category: <span id="category">{{item.type}}</span></p>
          <p>Location: <span id="location">{{item.location}}</span></p>
          <p>Status: <span id="availability">{{item.status}}</span></p>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- Equipment card for Admin-->
    <div class="equipment-card">
      <img class="card-img" src="" alt="" />
      <div class="right">
        <div class="top">
          <p class="card-title">Equipment Title</p>
          <div class="admin-equipment-btn">
            <button class="details">Details</button>
            <button class="book-equipment">Book Now</button>
            <!-- Change to icons -->
            <button class="edit">Edit</button>
            <button class="add">Add</button>
          </div>
          
        </div>
        <div class="equipment-info">
          <p>Category: <span id="category">Laptop</span></p>
          <p>Location: <span id="location">Lab</span></p>
          <p>Availability: <span id="availability">Available</span></p>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  const bookBtns = document.querySelectorAll(".book-equipment");

  bookBtns.forEach(button => {
    if (button.textContent.trim() === "Out") {
      button.style.backgroundColor = "grey";
      button.style.cursor = "default";
      button.disabled = true;
    }
  });
  
</script>

{% endblock content %}
