{% extends 'main.html' %} {% block content %}
{% load static %}
<!--
  Author: Anthony
-->
<main class="landing-page">
  <h1>How it works...</h1>
  <div>
    <div class="info">
      <div>
        <div class="icon"></div>
        <p>Sign up</p>
      </div>
      <div>
        <div class="icon"></div>
        <p>Search our extensive database of equipment available</p>
      </div>
      <div>
        <div class="icon"></div>
        <p>Book or reserve the items you would like to borrow</p>
      </div>
      <div>
        <div class="icon"></div>
        <p>Once approved, collect your items or wait for delivery</p>
      </div>
    </div>
    <div class="extra-info">
        <div class="icon"></div>
        <div>
            <p>We stock an extensive and varied database of equipment... from laptops & PCs to furniture and more...</p>
            <a href="equipment_list">View Equipment</a>
        </div>
    </div>
  </div>
</main>
{% endblock content %}