{% extends 'main.html' %} {% block content %}
{% load static %}
<!--
  Co-Author: 
  - Anthony
-->
<main>
  <h1 class="login-title">Login</h1>
  <!-- Add post method -->
  <form class="login-form" method="" action="" onsubmit="return validateLogin()">
    <div class="form-group">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-input"
        required
      />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-input"
        required
      />
    </div>
    <div class="login-options">
      <div class="form-button-section">
        <a class="form-button" href="landing_page">Back</a>
        <!-- Process login and take user to either student or admin profile-->
        <button type="submit" class="form-button">Login</button>
      </div>
      <div class="login-info">
        <p>Forgotten Password?</p>
        <p>
          Not Registered Yet?
          <a class="sign-up-link" href="sign_up">Register Here</a>
        </p>
        <!-- Display the content below if the user has entered an invalid username or password -->
        <p class="error-message" id="error-message" style="display: none"></p>
      </div>
    </div>
  </form>
</main>

{% endblock content %}
