{% extends 'main.html' %} {% block content %}
{% load static %}
<!--
  Co-Author: 
  - Anthony
-->
<main>
  <h1 class="login-title">Login</h1>
  <!-- Add post method -->
  <form class="login-form" method="POST" action="" onsubmit="return validateLogin()">

    <!-- rendering the error message from 'views.py' -->
    {% if error %}    <!-- only shows error message if error exists -->
    <!-- render the error message in a bootstrap alert component -->
      <div class="alert alert-danger mt-3" role="alert">
      {{ error }}
      </div>
    {% endif %}

    {% csrf_token %}
    {{ form.as_p }}
    
    <div class="login-options">
      <div class="form-button-section">
        <a class="form-button" href="landing_page">Back</a>
        <!-- Process login and take user to either student or admin profile-->
        <button type="submit" class="form-button">Login</button>
      </div>
      <div class="login-info">
        <p>Forgotten Password?</p>
        <p>
          Not Registered Yet?
          <a class="sign-up-link" href="sign_up">Register Here</a>
        </p>
        <!-- Display the content below if the user has entered an invalid username or password -->
        <p class="error-message" id="error-message" style="display: none"></p>
      </div>
    </div>
  </form>
</main>

{% endblock content %}
